name: Deploy to VPS

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 2022
          script: |
            cd /opt/budget-app/frontend/budget-app-client
            git pull origin main
            npm run build
            cd
            cd /opt/budget-app
            docker-compose down
            docker-compose up -d --build
